<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <p class="lead">Stratum Mining with <a href="https://bitcointalk.org/index.php?topic=1433925.0" rel="nofollow" target="_blank"><b>Claymore Miner</b></a> (Miners Fee: 1-2%)
  </p>
  <dl class="dl-horizontal">
    <dt>Windows</dt>
    <dd><code>EthDcrMiner64.exe -epool stratum+tcp://{{config.StratumHost}}:8004 -ewal 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191  -epsw x -allpools 1 -allcoins exp -gser 2 -eworker rig1</code>
    </dd>
    <dt>Linux</dt>
    <dd>
      <code>./ethdcrminer64 -epool stratum+tcp://{{config.StratumHost}}:8004 -ewal 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191  -epsw x -allpools 1 -allcoins exp -gser 2 -eworker rig1</code>
    </dd>
  </dl>
  <p class="lead">Stratum Mining with <a href="https://bitcointalk.org/index.php?topic=2647654.0" rel="nofollow" target="_blank"><b>PhoenixMiner</b></a> (Miners Fee: 0.65%)
  </p>
  <dl class="dl-horizontal">
    <dt>Windows</dt>
    <dd><code>PhoenixMiner.exe -pool {{config.StratumHost}}:8004 -wal 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191  -pass x -worker rig1</code>
    </dd>
  </dl>
  <p class="lead">Stratum Mining with <a href="https://github.com/ethereum-mining/ethminer/releases" rel="nofollow" target="_blank"><b>Ethminer</b></a> (Miners Fee: 0%)
  </p>
  <dl class="dl-horizontal">
    <dt>Windows OpenCL</dt>
    <dd><code>ethminer.exe --farm-recheck 200 -G -S {{config.StratumHost}}:8004 -SP 1 -O 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191 .rig1</code></dd>
    <dt>Windows CUDA</dt>
    <dd><code>ethminer.exe --farm-recheck 200 -U -S {{config.StratumHost}}:8004 -SP 1 -O 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191 .rig1</code></dd>
    <dt>Linux OpenCL</dt>
    <dd><code>./ethminer --farm-recheck 200 -G -S {{config.StratumHost}}:8004 -SP 1 -O 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191 .rig1</code></dd>
    <dt>Linux CUDA</dt>
    <dd><code>./ethminer --farm-recheck 200 -U -S {{config.StratumHost}}:8004 -SP 1 -O 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191 .rig1</code></dd>
  </dl>
  <p class="lead"><b>Nicehash</b> Mining
  </p>
  <dl class="dl-horizontal">
    <dt>Server</dt>
    <dd><code>{{config.StratumHost}}</code></dd>
    <dt>Port</dt>
    <dd><code>8009</code></dd>
    <dt>Username</dt>
    <dd><code>0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191 </code></dd>
    <dt>Password</dt>
    <dd><code><b>#</b></code></dd>
  </dl>
  <h4>Advice</h4>
  <p>CPU mining is not recommended! Nevertheless, you can use it if you want to.</p>
  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
</div>
