<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="/logo.png" height="80px" border="0"><br/>
        <strong>Min. payout threshold: {{config.PayoutThreshold}}</strong>.<br/>
        <span class="label label-success">Payment</span> Payouts are made automatically every 30 minutes.<br/>
        <span class="label label-success">PROP</span> Stable and profitable pool with regular payouts.
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> Miners Online: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> Pool Hash Rate: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> Pool Fee: <span id="poolFee" class="label label-success">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> Last Block Found: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> Network Difficulty: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> Network Hash Rate: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> Blockchain Height: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> Current Round Variance: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>

{{#if config.highcharts.main.enabled}}
  <div class="container">
    {{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
  </div>
{{/if}}

<div class="container">
<h5 class="note note-info"><span style="font-size: 16px">
  <center><a style="font-size: 23px" style="color: black"><b>Support:</b> <a href="https://discord.gg/pDkcC2z"target="_blank" style="font-size: 22px">@GALAXY DISCORD</a></a></center>
  <br>
  <br/>
  <ul>
    <li><font color="#57b5e3"><b>29-07-18</b></font> Pool Fee <span class="label label-success">0%</span> for the first <b>5000 ROL Blocks</b> mined by <b>Galaxy Pool</b>, 100% of block reward will go to miners. Happy mining !!</li>
  </ul>
  <br>
  <ul>
    <li><font color="#57b5e3"><b>29-07-18</b></font> Create Roller mining pool with stratum port <b>8001</b>, <b>8004</b>, <b>8009</b> and getwork port <b>8881</b>, <b>8884</b>, <b>8889</b></li>
  </ul>
</span></h5>

  <div class="stats">
    <h4>Your Stats &amp; Payment History</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="Enter Your Ethereum Address"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <hr/>

    <table width="100%" border="0">
		<tr>
		<td>
    			<h5 class="note note-info text-center">
			<span class="label label-success">1G</span> <b>RIG / PROXY HASHRATE &lt; 100 MH/s</b>
			<br>
			(difficulty 1G)
			<br><br>
			<b>Stratum Mining:</b>
			<br><br>
			<code>stratum+tcp://{{config.StratumHost}}:8001</code>
    			<hr>
			<b>Getwork Mining:</b>
			<br><br>
      			<code>http://{{config.StratumHost}}:8881</code>
    			</h5>
		</td>
		<td>
    			<h5 class="note note-info text-center">
			<span class="label label-success">4G</span> <b>RIG / PROXY HASHRATE 100 - 800 MH/s</b>
			<br>
			(difficulty 4G)
			<br><br>
			<b>Stratum Mining:</b>
			<br><br>
			<code>stratum+tcp://{{config.StratumHost}}:8004</code>
    			<hr>
			<b>Getwork Mining:</b>
			<br><br>
      			<code>http://{{config.StratumHost}}:8884</code>
    			</h5>
		</td>
		<td>
    			<h5 class="note note-info text-center">
			<span class="label label-success">9G</span> <b>PROXY / NICEHASH &gt; 800 MH/s</b>
			<br>
			(difficulty 9G)
			<br><br>
			<b>Stratum Mining:</b>
			<br><br>
			<code>stratum+tcp://{{config.StratumHost}}:8009</code>
    			<hr>
			<b>Getwork Mining:</b>
			<br><br>
      			<code>http://{{config.StratumHost}}:8889</code>
    			</h5>
		</td>
		</tr>
	</table>

  <h5 class="note note-info">
    <p class="lead text-center">Quick Mining with <a href="https://bitcointalk.org/index.php?topic=1433925.0" rel="nofollow" target="_blank"><b>Claymore Miner</b></a> (Miners Fee: 1-2%)</p>
      <dl class="dl-horizontal">
        <dt>Windows</dt>
        <dd><code>EthDcrMiner64.exe -epool stratum+tcp://{{config.StratumHost}}:8004 -ewal 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191  -epsw x -allpools 1 -allcoins exp -gser 2 -eworker rig1</code></dd>
        <dt>Linux</dt>
        <dd><code>./ethdcrminer64 -epool stratum+tcp://{{config.StratumHost}}:8004 -ewal 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191  -epsw x -allpools 1 -allcoins exp -gser 2 -eworker rig1</code></dd>
      </dl>
    <p class="lead text-center">Quick Mining with <a href="https://bitcointalk.org/index.php?topic=2647654.0" rel="nofollow" target="_blank"><b>PhoenixMiner</b></a> (Miners Fee: 0.65%)</p>
      <dl class="dl-horizontal">
        <dt>Windows</dt>
        <dd><code>PhoenixMiner.exe -pool {{config.StratumHost}}:8004 -wal 0xBEB1B4ae55A1C0873c60947724Ae8b58B7Def191  -pass x -worker rig1</code></dd>
      </dl>
  </h5>

  </div>
</div>
